<div class="fondoForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="letraCoqueta">Editar Perfil</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-control mb-3">
                    <div class="row text-center">
                        <h2 class="mb-2">Información Personal</h2>
                        <div class="col-md-6">
                            <div class="form-group mb-2 text-start">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-2 text-start">
                                <label for="telefono">Telefono</label>
                                <input type="text" class="form-control" id="telefono" placeholder="Telefono">
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary" style="width: max-content;">Guardar</button>
                    </div>
                </div>

                <!--EDITAR CONTRASEÑA-->
                <div class="form-control">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h2>Contraseña</h2>
                            <div class="form-group mb-2 text-start">
                                <label for="password">Contraseña Actual</label>
                                <input type="password" class="form-control" id="password" placeholder="Contraseña">
                            </div>
                            <div class="form-group mb-2 text-start">
                                <label for="newPassword">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="newPassword" placeholder="Nueva Contraseña">
                            </div>
                            <div class="form-group mb-2 text-start">
                                <label for="confirmPassword">Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña">
                            </div>
                            <div class="w-100 d-flex justify-content-center justify-content-md-end">
                                <button class="btn btn-primary" style="width: max-content;">Guardar</button>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-column text-center align-items-center d-none d-md-block">
                            <h2>Abrir Carrito</h2>
                            <img src="../../../assets/img/carritoConColor.svg" alt="Imagen de Carrito" class="carrito">
                        </div>
                    </div>
                </div>

                <div class="form-control d-md-none mt-3">
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column text-center align-items-center">
                            <h2>Abrir Carrito</h2>
                            <img src="../../../assets/img/carritoConColor.svg" alt="Imagen de Carrito" class="carrito">
                        </div>
                    </div>
                </div>
                            
            </div>
        </div>
    </div>
</div>
