<div class="fondoForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="letraCoqueta">Editar Perfil</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-control mb-3">
                    <div class="row text-center">
                        <h2 class="mb-2">Información Personal</h2>
                        <div class="col-md-6">
                            <div class="form-group mb-2 text-start">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="email" [(ngModel)]="email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-2 text-start">
                                <label for="telefono">Telefono</label>
                                <input type="text" class="form-control" id="telefono" placeholder="Telefono" [(ngModel)]="telefono">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                        <p *ngIf="actualizacionExitosa" style="color: green; width: fit-content;" id="CambioInfoExito">Informacion actualizada correctamente</p>
                        <p *ngIf="actualizacionFallida" style="color: red; width: fit-content;" id="CambioInfoError">Error al actualizar</p>
                        <div class="d-flex flex-fill justify-content-center justify-content-md-end">
                            <button class="btn btn-primary" style="width: max-content;" (click)="(actualizarInfo())">Guardar</button>
                        </div>
                    </div>
                </div>

                <!--EDITAR CONTRASEÑA-->
                <div class="form-control">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h2>Contraseña</h2>
                            <div class="form-group mb-2 text-start">
                                <label for="password">Contraseña Actual</label>
                                <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="oldPassword" autocomplete="off">
                            </div>
                            <div class="form-group mb-2 text-start">
                                <label for="newPassword">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="newPassword" placeholder="Nueva Contraseña" [(ngModel)]="newPassword" autocomplete="off">
                            </div>
                            <div class="form-group mb-2 text-start">
                                <label for="confirmPassword">Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña" [(ngModel)]="confirmarContra" autocomplete="off">
                            </div>

                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p *ngIf="contraCambiada" style="color: green; width: fit-content;" id="CambioInfoExito">Contraseña actualizada correctamente</p>
                                <p *ngIf="contraNoCambiada" style="color: red; width: fit-content;" id="CambioInfoError">Error al actualizar</p>
                                <div class="w-100 d-flex justify-content-center justify-content-md-end">
                                    <button class="btn btn-primary" style="width: max-content;" (click)="acualizarContra()">Guardar</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6 d-flex flex-column text-center align-items-center d-none d-md-block">
                            <h2>Abrir Carrito</h2>
                            <img src="../../../assets/img/carritoConColor.svg" alt="Imagen de Carrito" class="carrito">
                        </div>
                    </div>
                </div>

                <div class="form-control d-md-none mt-3">
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column text-center align-items-center">
                            <h2>Abrir Carrito</h2>
                            <img src="../../../assets/img/carritoConColor.svg" alt="Imagen de Carrito" class="carrito">
                        </div>
                    </div>
                </div>
                            
            </div>
        </div>
    </div>
</div>
