<div class="container mt-3">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <button class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#filtroModal">Filtrar</button>

        <!-- Modal -->
        <div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="filtroModalLabel">Filtros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <!-- Aquí puedes agregar los campos de filtro -->
                <div class="mb-3">
                    <!-- <label for="tipoSelect" class="form-label">Tipos de filtro</label>
                    <select class="form-select form-select-sm" aria-label="tipoSelect">
                        <option selected>Filtros</option>
                        <option value="1">Rango de fecha</option>
                        <option value="2">Importe</option>
                        <option value="3">Cliente</option>
                    </select> -->

                    <div class="mb-3">
                        <div class="w-100 d-md-flex justify-content-between">
                            <div>
                                <label for="Desde">Desde</label>
                                <form class="row row-cols-sm-auto" id="Desde">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dpInicio" [(ngModel)]="modelInicio" ngbDatepicker #dInicio="ngbDatepicker"/>
                                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dInicio.toggle()" type="button"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div>
                                <label for="Hasta">Hasta</label>
                                <form class="row row-cols-sm-auto" id="Hasta">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dpFin" [(ngModel)]="modelFin" ngbDatepicker #dFin="ngbDatepicker"/>
                                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dFin.toggle()" type="button"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div *ngIf="this.role !== 'USER' ">
                            <label for="clienteSelect" class="form-label">Cliente</label>
                            <input class="form-control" list="clientes" id="clienteSelect" placeholder="Escribe para buscar..." [(ngModel)]="usuarioSeleccionado" > <!--  (change)="seleccionarUsuario()" -->
                            <datalist id="clientes">
                                <option *ngFor="let usuario of clientes" [value]="usuario.id + ' | ' + usuario.nombre">{{usuario.nombre}}</option>
                                <!-- Agrega más opciones según sea necesario -->
                            </datalist>
                        </div>

                    </div>
                </div>
                <!-- Agrega más campos de filtro según sea necesario -->
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="limpiarFiltros()">Limiar Filtros</button>
                <button type="button" class="btn btn-primary" (click)="filtrarOrdenes()">Aplicar filtros</button>
                </div>
            </div>
            </div>
        </div>


        <!-- TABLA -->
        <li [ngbNavItem]="1">
            <button ngbNavLink (click)="actualizarCantPaginas('PENDIENTE')">Pendientes</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasPendiente()">
                            <!-- <td>{{ orden.id }}</td> -->
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden)" data-bs-toggle="modal" data-bs-target="#ordenModal"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink (click)="actualizarCantPaginas('EN PREPARACION')">En preparación</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasEnPreparacion()">
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden)" data-bs-toggle="modal" data-bs-target="#ordenModal"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink (click)="actualizarCantPaginas('LISTO PARA RECOGER')">Listas para entregar</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasListasParaEntregar()">
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden)" data-bs-toggle="modal" data-bs-target="#ordenModal"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <button ngbNavLink (click)="actualizarCantPaginas('ENTREGADO')">Entregado</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasEntregados()">
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden)" data-bs-toggle="modal" data-bs-target="#ordenModal"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <!-- PAGINADO -->
    <nav *ngIf="totalPaginas > 1">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let pagina of paginas" [class.active]="pagina === paginaActual">
            <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
            <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
          </li>
        </ul>
    </nav>

    <!-- MODAL INFO -->
    <div class="modal fade" id="ordenModal" tabindex="-1" aria-labelledby="ordenModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ordenModalLabel">Detalles de la Orden</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col 12 col-md-4">
                                <p>Fecha: {{ ordenSeleccionada.fecha | date }}</p>
                                <p>Estado: {{ ordenSeleccionada.estado }}</p>
                                <p *ngIf="this.role !== 'USER' ">Panadero: {{ ordenSeleccionada.panaderoId }}</p>
                                <p>Importe: {{ ordenSeleccionada.importe }}</p>
                                <p>Cliente: {{ ordenSeleccionada.emailCliente }}</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pedido of ordenSeleccionada.pedidos">
                                            <td>{{ pedido.nombre }}</td>
                                            <td>{{ pedido.cantidad }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100 d-flex justify-content-between">
                        <button *ngIf="this.role !== 'USER' " type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalInsumos">Insumos</button>

                        <div>
                            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
                            <button *ngIf="this.role === 'PANADERO' && this.ordenSeleccionada.panaderoId == this.userId " type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalEstado">Cambiar Estado</button>
                            <button *ngIf="this.role === 'PANADERO' && this.ordenSeleccionada.panaderoId == null " type="button" class="btn btn-success" (click)="panaderoAcepta()">Aceptar</button>
                            <button *ngIf="this.role === 'ADMIN' " type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAsignar">Asignar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para los insumos del producto seleccionado -->
    <div class="modal fade" id="ModalInsumos" tabindex="-1" aria-labelledby="ModalInsumosLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalInsumosLabel">Detalles de la Orden</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- tabla con todos los insumos y totales nombre	"Harina de trigo (1k)"
                    cantidad	7.5
                    precioUnitario	30
                    totalCosto	240 -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Insumo</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let insumo of ordenSeleccionada.insumosTotales">
                                <td>{{ insumo.nombre }}</td>
                                <td>{{ insumo.cantidad | number:'1.0-1' }}</td>
                                <td>${{ insumo.precioUnitario }}</td>
                                <td>${{ insumo.totalCosto }}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Total</strong></td>
                                <td><strong> ${{ ordenSeleccionada.costoTotalInsumos }} </strong></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <div class="w-100 d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ordenModal">Atras/Orden</button>
                        <div>
                            <button *ngIf="this.role === 'PANADERO' && this.ordenSeleccionada.panaderoId == null " type="button" class="btn btn-success" (click)="panaderoAcepta()">Aceptar</button>
                            <button *ngIf="this.role === 'ADMIN' " type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAsignar">Asignar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para los Cambiar el estado de la orden -->
    <div class="modal fade" id="ModalEstado" tabindex="-1" aria-labelledby="ModalEstadoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEstadoLabel">Cambiar estado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Select con las opciones de Estado -->

                    <div class="mb-3">
                        <label for="estadoSelect" class="form-label">Estado</label>
                        <select class="form-select form-select-sm" [(ngModel)]="selectedEstado" aria-label="estadoSelect">
                            <option value="1">Pendiente</option>
                            <option value="2">En preparación</option>
                            <option value="3">Listo para entregar</option>
                            <option value="4">Entregado</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="w-100 d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ordenModal">Atras/Orden</button>
                        <div>
                            <button type="button" class="btn btn-success" (click)="guardarEstado()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para los Asignar un panadero -->
    <div class="modal fade" id="ModalAsignar" tabindex="-1" aria-labelledby="ModalAsignarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAsignarLabel">Asignar Panadero</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Select con las opciones de Estado -->

                    <div class="mb-3">
                        <label for="estadoSelect" class="form-label">Panaderos</label>
                        <select class="form-select form-select-sm" [(ngModel)]="selectedPanadero" aria-label="panaderoSelect">
                            <option *ngFor="let panadero of panaderos" [value]="panadero.id">{{panadero.email}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="w-100 d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ordenModal">Atras/Orden</button>
                        <div>
                            <button type="button" class="btn btn-success" (click)="asignarPanadero()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
