<div class="container mt-3">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <button class="btn btn-success me-3">Filtrar</button>

        <li [ngbNavItem]="1">
            <button ngbNavLink (click)="actualizarCantPaginas('PENDIENTE')">Pendientes</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasPendiente()">
                            <!-- <td>{{ orden.id }}</td> -->
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden.id)"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink (click)="actualizarCantPaginas('EN PREPARACION')">En preparación</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasEnPreparacion()">
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden.id)"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink (click)="actualizarCantPaginas('LISTO PARA RECOGER')">Listas para entregar</button>
            <ng-template ngbNavContent>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;" (click)="cambiarOrdenFecha()">Fecha
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'fecha' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'fecha' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <!-- <th>Estado</th> -->
                            <th style="cursor: pointer;" (click)="cambiarOrdenImporte()">Importe
                                <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'importe' && sortDirection === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'importe' && sortDirection === 'desc',
                                       }"></i>
                            </th>
                            <th>Cliente</th>
                            <th>Ver Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of getPaginadasListasParaEntregar()">
                            <td>{{ orden.fecha | date }}</td>
                            <!-- <td>{{ orden.estado }}</td> -->
                            <td>{{ orden.importe }}</td>
                            <td>{{ orden.clienteId }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="verMas(orden.id)"><i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <nav *ngIf="totalPaginas > 1">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let pagina of paginas" [class.active]="pagina === paginaActual">
            <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
            <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
          </li>
        </ul>
    </nav>

</div>
