<!-- Navbar para opciones de usuario en escritorio -->
<nav class="navbar navbar-expand-lg d-none d-lg-block orange-navbar" style="background-color: rgb(213,92,38);">
  <div class="container-fluid justify-content-end">
    <ul class="navbar-nav">
      <li *ngIf="email" class="nav-item">
        <a class="nav-link disabled" href="#">Bienvenido, {{ email }}</a>
      </li>
      <li *ngIf="!email" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Iniciar Sesión</a>
      </li>
      <li *ngIf="email" class="nav-item">
        <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Navbar para productos en escritorio -->
<nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-block">
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
    
    <div class="flex-grow-0">
      <ul class="navbar-nav">
        <!-- Opciones de ADMIN -->
        <li *ngIf="role === 'ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/productos']" class="dropdown-item">Ver Productos</a></li>
            <li><a [routerLink]="['/crearProducto']" class="dropdown-item">Agregar Producto</a></li>
          </ul>
        </li>

        <li *ngIf="role === 'ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenes
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a [routerLink]="['/ordenes']" class="dropdown-item">Ver Ordenes</a></li>
          </ul>
        </li>

        <li *ngIf="role === 'ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Insumos
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a [routerLink]="['/insumos']"  class="dropdown-item">Ver insumos</a></li>
          </ul>
        </li>

        <!-- Opciones de PANADERO -->
        <li *ngIf="role === 'PANADERO'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenes
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a class="dropdown-item" href="#">Ver Ordenes</a></li>
            <li><a [routerLink]="['/productos']" class="dropdown-item">Ordenes Pendientes</a></li>
          </ul>
        </li>

        <!-- Opciones para cliente -->
        <li *ngIf="role === 'USER'" class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li *ngIf="role === 'USER'" class="nav-item">
          <a class="nav-link" href="#">Ordenar!</a>
        </li>

      </ul>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/logo2.png" height="60" alt="Logo"></a>
    </div>

    <div class="flex-grow-0">
      <!-- este es para alinear nomas -->
    </div>
  </div>
</nav>



<!-- Navbar combinada para móvil -->
<nav class="navbar navbar-expand-lg d-lg-none" style="background-color: rgb(213,92,38);">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/logo2.png" height="60" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCombined" aria-controls="navbarCombined" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCombined">
      <ul class="navbar-nav me-auto">
        
        <!-- Opciones de ADMIN -->
        <li *ngIf="role === 'ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/productos']" class="dropdown-item">Ver Productos</a></li>
            <li><a [routerLink]="['/crearProducto']" class="dropdown-item">Agregar Producto</a></li>
          </ul>
        </li>

        <li *ngIf="role === 'ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenes
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a [routerLink]="['/ordenes']" class="dropdown-item">Ver Ordenes</a></li>
          </ul>
        </li>

        <li *ngIf="role === 'ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Insumos
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a [routerLink]="['/insumos']"  class="dropdown-item">Ver insumos</a></li>
          </ul>
        </li>

        <!-- Opciones de PANADERO -->
        <li *ngIf="role === 'PANADERO'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenes
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a class="dropdown-item" href="#">Ver Ordenes</a></li>
            <li><a [routerLink]="['/productos']" class="dropdown-item">Ordenes Pendientes</a></li>
          </ul>
        </li>

        <!-- Opciones para cliente -->
        <li *ngIf="role === 'USER'" class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li *ngIf="role === 'USER'" class="nav-item">
          <a class="nav-link" href="#">Ordenar!</a>
        </li>

        <!-- Opciones de usuario -->
        <li *ngIf="email" class="nav-item">
          <a class="nav-link disabled" href="#">Bienvenido, {{ email }}</a>
        </li>
        <li *ngIf="!email" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Iniciar Sesión</a>
        </li>
        <li *ngIf="email" class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>


<footer > <!-- class="mt-5" -->
  <div class="container-fluid bg-body-tertiary">
    <div class="row p-3 pt-5"  style="background-color: rgb(213,92,38);">
      <div class="col-md-4 mb-3 mb-md-0 ps-md-4">
        <img src="assets/img/logo2.png" height="100" alt="Logo">
      </div>

      <div class="col-md-3">
        <h3>Contáctanos</h3>
        <p>Numero de telefono: 123456789</p>
        <p>Correo: backeryHouse&#64;RRHH.com</p>
      </div>
      
      <div class="col-md-2">
        <h3>Ubicación</h3>
        <p>Calle Falsa 123</p>
      </div>

      <div class="col-md-3 text-md-center">
        <h3>Redes Sociales</h3>
        <div class="d-flex justify-content-md-center">
          <a href="#" class="btn btn-primary"><i class="bi bi-facebook"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-instagram"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
          
</footer>