<div class="h-100 fondoForm" >
  <h1 class="letraCoqueta mb-3">Crear Producto</h1>


<div class="container mt-5">
    <form>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre del Producto">
          </div>
          <div class="form-group mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea type="text" class="form-control" id="descripcion" placeholder="Descripcion del Producto"></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="precio">Precio</label>
            <input min="0" type="number" class="form-control" id="precio" placeholder="Precio del Producto">
          </div>
          <div class="form-group mb-3">
            <label for="imagen">Imagen</label>
            <input type="file" class="form-control" id="imagen" placeholder="Imagen del Producto" (change)="onFileChange($event)">
          </div>
        </div>
        <div class="col-md-4">
          <h2>Insumos</h2>
          <div class="btn btn-primary" (click)="mostrarInsumoForm()">Agregar Insumo</div>
          <div *ngIf="mostrarInsumo">
            <div class="mb-3">
              <label for="selectInsumos">Insumo</label>
              <select class="form-select" aria-label="Default select example" name="insumos" id="selectInsumos" [(ngModel)]="insumoSeleccionado">
                <option [value]="0" selected>Seleccionar Insumo</option>
                <option *ngFor="let insumo of insumos" [value]="insumo.id">{{insumo.nombre}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cantidad">Cantidad</label>
              <input type="number" min="0" class="form-control" id="cantidad" [(ngModel)]="cantidadInsumo" name="cantidadInsumo" placeholder="Cantidad necesaria">
            </div>
            <div class="btn btn-success" (click)="confirmarInsumo()">Agregar</div>
          </div>
          <div class="mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let insumo of insumosProducto">
                  <td>{{getInsumoNombre(insumo.insumoId)}}</td>
                  <td>{{insumo.cantidad}}</td>
                  <td><button class="btn btn-danger" (click)="eliminarInsumo(insumo.insumoId)"><i class="bi bi-trash-fill"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary mt-3 col-4 col-md-1" (click)="enviarForm()">Enviar</button>
      </div>
    </form>
  </div>

</div>