<div class="h-100 fondoForm">
    <h1 class="letraCoqueta mb-3">Crear Producto</h1>

    <div class="container mt-5">
        <form [formGroup]="productoForm" (ngSubmit)="enviarForm()">
            <div class="row justify-content-center">
                <div *ngIf="alertMessage" class="col-md-9 alert alert-{{alertType}} alert-dismissible fade show" role="alert">
                    <i class="bi bi-{{alertType === 'success' ? 'check-circle-fill' : 'exclamation-triangle-fill'}}"></i>
                    {{ alertMessage }}
                    <button type="button" class="btn-close" aria-label="Close" (click)="alertMessage=''"></button>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre"
                            placeholder="Nombre del Producto"
                            [ngClass]="{'is-invalid': productoForm.controls['nombre'].invalid && productoForm.controls['nombre'].touched}">
                        <div *ngIf="productoForm.controls['nombre'].invalid && productoForm.controls['nombre'].touched"
                            class="invalid-feedback">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea type="text" class="form-control" id="descripcion" formControlName="descripcion"
                            placeholder="Descripción del Producto"
                            [ngClass]="{'is-invalid': productoForm.controls['descripcion'].invalid && productoForm.controls['descripcion'].touched}"></textarea>
                        <div *ngIf="productoForm.controls['descripcion'].invalid && productoForm.controls['descripcion'].touched"
                            class="invalid-feedback">
                            Descripción es requerida.
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="precio">Precio</label>
                        <input type="number" min="0" class="form-control" id="precio" formControlName="precio"
                            placeholder="Precio del Producto"
                            [ngClass]="{'is-invalid': productoForm.controls['precio'].invalid && productoForm.controls['precio'].touched}">
                        <div *ngIf="productoForm.controls['precio'].invalid && productoForm.controls['precio'].touched"
                            class="invalid-feedback">
                            Precio es requerido y debe ser mayor a 0.
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="imagen">Imagen</label>
                        <input type="file" class="form-control" id="imagen" (change)="onFileChange($event)"
                            placeholder="Imagen del Producto"
                            [ngClass]="{'is-invalid': productoForm.controls['imagen'].invalid && productoForm.controls['imagen'].touched}">
                        <div *ngIf="productoForm.controls['imagen'].invalid && productoForm.controls['imagen'].touched"
                            class="invalid-feedback">
                            Imagen es requerida.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Insumos</h2>
                    <div class="btn btn-primary" (click)="mostrarInsumoForm()">Agregar Insumo</div>
                    <div *ngIf="mostrarInsumo">
                        <div class="mb-3">
                          <label for="selectInsumos">Insumo</label>
                          <select class="form-select" aria-label="Default select example" formControlName="insumoSeleccionado">
                            <option [value]="'0'" selected>Seleccionar Insumo</option>
                            <option *ngFor="let insumo of insumosDisponibles" [value]="insumo.id">{{ insumo.nombre }}</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="cantidad">Cantidad</label>
                          <input type="number" min="0.1" step="0.1" class="form-control" formControlName="cantidadInsumo"
                            placeholder="Cantidad necesaria">
                        </div>
                        <div class="btn btn-success" (click)="confirmarInsumo()">Agregar</div>
                      </div>                      
                    <div class="mt-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let insumo of insumosProducto">
                                    <td>{{getInsumoNombre(insumo.insumoId)}}</td>
                                    <td>{{insumo.cantidad}}</td>
                                    <td><button class="btn btn-danger" (click)="eliminarInsumo(insumo.insumoId)"><i
                                                class="bi bi-trash-fill"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mt-3 col-4 col-md-1">Enviar</button>
            </div>
        </form>
    </div>
</div>