
.carousel-item img {
    object-fit: cover;
    height: 50vh;
}

.carousel-indicators button {
    background-color: rgb(50,50,50); 
}

.carousel-indicators .active {
    background-color: black; 
}

.card img {
    object-fit: cover; 
    height: 20vh;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.card:hover {
    background-color: rgb(220,220,220);
    //sombra
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}