<div class="container mt-4 mb-4">
  <div class="card mx-auto">
      <div class="card-header text-center">
          <h5 class="card-title mb-0">Restablecer Contraseña</h5>
      </div>
      <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" novalidate>
              <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"
                      [ngClass]="{'is-invalid': resetForm.controls['password'].invalid && resetForm.controls['password'].touched}">
                  <label for="floatingPassword">Nueva Contraseña</label>
                  <div *ngIf="resetForm.controls['password'].errors?.['required'] && resetForm.controls['password'].touched" class="invalid-feedback">
                      Contraseña es requerida.
                  </div>
                  <div *ngIf="resetForm.controls['password'].errors?.['minlength'] && resetForm.controls['password'].touched" class="invalid-feedback">
                      La contraseña debe tener al menos 8 caracteres.
                  </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary w-100">Restablecer Contraseña</button>
              </div>
          </form>
          <div *ngIf="resetError" class="alert alert-danger mt-3" role="alert">
              {{ resetError }}
          </div>
      </div>
  </div>
</div>
