<div class="container mt-5">
    <h2>Restablecer Contraseña</h2>
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
      <div class="form-group">
        <label for="password">Nueva Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
      </div>
    </form>
    <div *ngIf="resetError" class="alert alert-danger mt-3" role="alert">
      {{ resetError }}
    </div>
  </div>
  