<div class="container mt-4 mb-4">
    <div class="card mx-auto" style="max-width: 90%; max-width: 500px;">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">¡Bienvenido, nuevamente!</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" required email
                        [ngClass]="{'is-invalid': loginForm.controls['email'].invalid && loginForm.controls['email'].touched}">
                    <label for="floatingInput">Email</label>
                    <div *ngIf="loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].touched" class="invalid-feedback">
                        Email es requerido.
                    </div>
                    <div *ngIf="loginForm.controls['email'].errors?.['email'] && loginForm.controls['email'].touched" class="invalid-feedback">
                        Por favor, ingresa un email válido.
                    </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password" required
                        [ngClass]="{'is-invalid': loginForm.controls['password'].invalid && loginForm.controls['password'].touched}">
                    <label for="floatingPassword">Contraseña</label>
                    <div *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched" class="invalid-feedback">
                        Contraseña es requerida.
                    </div>
                    <div *ngIf="loginForm.controls['password'].errors?.['minlength'] && loginForm.controls['password'].touched" class="invalid-feedback">
                        La contraseña debe tener al menos 8 caracteres.
                    </div>
                </div>
                <div class="mb-0">
                    <a href="/forgotPassword" class="text-secondary">¿Olvidaste tu contraseña?</a>
                </div>
            </form>

            <!-- Alerta -->
            <div *ngIf="alertMessage" class="alert alert-{{alertType}} alert-dismissible fade show mt-3 mb-0" role="alert">
                <i class="bi bi-{{alertType === 'success' ? 'check-circle-fill' : 'exclamation-triangle-fill'}}"></i>
                {{ alertMessage }}
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="row align-items-center">
                <div class="col-5">
                    <a href="/register" class="link-primary">¿Eres nuevo? Regístrate.</a>
                </div>
                <div class="col-7">
                    <button type="button" class="btn btn-primary w-100" (click)="onSubmit()">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>
