<div class="register-container">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required class="form-control" [ngClass]="{'is-invalid': registerForm.submitted && registerForm.form.get('email')?.invalid}" aria-label="Email" placeholder="ejemplo@dominio.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <div *ngIf="registerForm.submitted && registerForm.form.get('email')?.errors?.['required']" class="invalid-feedback">
                Email es requerido.
            </div>
            <div *ngIf="registerForm.submitted && registerForm.form.get('email')?.errors?.['pattern']" class="invalid-feedback">
                Email no es válido.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required minlength="8" class="form-control" [ngClass]="{'is-invalid': registerForm.submitted && registerForm.form.get('password')?.invalid}" aria-label="Contraseña" placeholder="Mínimo 8 caracteres">
            <div *ngIf="registerForm.submitted && registerForm.form.get('password')?.errors?.['required']" class="invalid-feedback">
                Contraseña es requerida.
            </div>
            <div *ngIf="registerForm.submitted && registerForm.form.get('password')?.errors?.['minlength']" class="invalid-feedback">
                La contraseña debe tener al menos 8 caracteres.
            </div>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" [(ngModel)]="telefono" name="telefono" required class="form-control" [ngClass]="{'is-invalid': registerForm.submitted && registerForm.form.get('telefono')?.invalid}" aria-label="Teléfono" placeholder="8 o 9 números" pattern="\d{8,9}">
            <div *ngIf="registerForm.submitted && registerForm.form.get('telefono')?.errors?.['required']" class="invalid-feedback">
                Teléfono es requerido.
            </div>
            <div *ngIf="registerForm.submitted && registerForm.form.get('telefono')?.errors?.['pattern']" class="invalid-feedback">
                Teléfono no es válido.
            </div>
        </div>
        <div class="form-group">
            <a href="/login">¿Ya estás registrado? Inicia sesión.</a>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>