<!-- forgot-password.component.html -->

<div class="container mt-4 mb-4">
  <div class="card mx-auto" >
    <div class="card-header text-center">
      <h5 class="card-title mb-0">Olvidé mi Contraseña</h5>
    </div>
    <div class="card-body">
      <p class="mb-3">Ingrese su dirección de correo electrónico a continuación. Recibirá un correo electrónico con instrucciones adicionales para restablecer su contraseña.</p>
      <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" novalidate>
        <!-- Floating label input -->
        <div class="form-floating mb-3">
          <input type="email" id="email" class="form-control" placeholder="Ingrese su correo electrónico"
            formControlName="email"
            [ngClass]="{'is-invalid': forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched}">
          <label for="email">Correo Electrónico</label>
          <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required'] && forgotPasswordForm.controls['email'].touched"
            class="invalid-feedback">
            El correo electrónico es requerido.
          </div>
          <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email'] && forgotPasswordForm.controls['email'].touched"
            class="invalid-feedback">
            Por favor, ingrese un correo electrónico válido.
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="!loading">Enviar Solicitud de Restablecimiento</span>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </form>

      <!-- Alerta -->
      <div *ngIf="alertMessage" class="alert alert-{{alertType}} alert-dismissible fade show mt-3 mb-0" role="alert">
        <i class="bi bi-{{alertType === 'success' ? 'check-circle-fill' : 'exclamation-triangle-fill'}}"></i>
        {{ alertMessage }}
      </div>
      
    </div>
    <div class="card-footer text-center">
      <p class="mb-0">¿Recordaste tu contraseña? <a routerLink="/login">Iniciar sesión</a></p>
    </div>
  </div>
</div>
