  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar insumo</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="insumoEdit.nombre">
        </div>
        <div class="form-group mb-3">
          <label for="precio">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="insumoEdit.precio">
        </div>
        <div class="form-group mb-3">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="insumoEdit.descripcion"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-sm" (click)="eliminarInsumo(insumoEdit.id)">
        Borrar <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-warning btn-sm" (click)="editarInsumo()">
        Editar <i class="bi bi-pencil"></i>
      </button>
    </div>
  </ng-template>

  <div class="container mt-4">
  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <input type="text" [formControl]="filter" class="form-control" placeholder="Buscar insumo">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" class="d-none d-sm-table-cell">Descripción</th>
            <th scope="col" (click)="sortBy('precio')" id="columna_precio">Precio
              <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn.value === 'precio' && sortDirection.value === 'asc',
                                         'bi-caret-down-fill': sortColumn.value === 'precio' && sortDirection.value === 'desc',
                                       }"></i>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="(insumosSorted$ | async)?.length; else noInsumos">
            <tr *ngFor="let insumo of insumosSorted$ | async">
              <td>{{insumo.nombre}}</td>
              <td class="d-none d-sm-table-cell">{{insumo.descripcion}}</td>
              <td>{{insumo.precio | currency}}</td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="openEditarInsumoModal(insumo, content)">
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-template #noInsumos>
        <tr>
          <td colspan="4">
            <div class="alert alert-warning mt-3" role="alert">
              No hay insumos disponibles.
            </div>
          </td>
        </tr>
      </ng-template>
    </div>
  </div>
